{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блогикум</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'blog:index' %}"><h1>Блогикум</h1></a>
            <nav>
                <a href="{% url 'blog:index' %}">Лента записей</a>
                <a href="{% url 'pages:about' %}">О проекте</a>
                <a href="{% url 'pages:rules' %}">Наши правила</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>© Блогикум</p>
        </div>
    </footer>
</body>
</html>
